body{
    background-color:#111827;
    
    
    /* filter: grayscale(100px); */
    font-family: 'Poppins', sans-serif;
    
}

header{
    /* background-image:url(images/back22.png); */
    background-repeat: no-repeat;
    background-size: cover;
}